WebContent/wsdl/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="usuario">
    <complexType>
     <sequence>
      <element name="nickName" type="xsd:string"/>
      <element name="clave" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="usuarioResponse">
    <complexType>
     <sequence>
      <element name="usuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="usuarioRequest">

      <wsdl:part element="impl:usuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usuarioResponse">

      <wsdl:part element="impl:usuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="usuario">

         <wsdl:input message="impl:usuarioRequest" name="usuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:usuarioResponse" name="usuarioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="usuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8080/WebServiceAndroid/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
